/* resets */

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    line-height: 1.5;-webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

/* main css */

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    background-color: #CFC192;
    height: auto;
}

h1 {
    font-size: 3rem;
    padding: 30px;
    display: inline;
}

h2 {
    font-size: 2.2rem;
}

p {
    font-size: 1.5rem;
}

nav {
}

nav ul {
    list-style-type: none;
    font-size: 1.7rem;
    text-align: right;
    padding-right: 30px;
}

.nav-item:hover {
    color: #96A5A2;
    cursor: pointer;
}

li {
    display: inline;
    padding: 0 10px 0 10px;
}

.content {
    margin: 50px 30px 50px 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: #630404;
    color: #CFEAB6;
}

footer p {
    text-align: right;
    padding: 10px 30px 10px;
}

/* set initial visibilities */

#about-text {
    display: block;
}

#portfolio-text {
    display: none;
}

#contact-text {
    display: none;
}


/* media queries */

@media only screen and (max-width: 600px) {
    .content {
        display: block;
    }
    .text {
        text-align: center;
    }
  }